<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ops</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static "assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css" %}">
    <link rel="stylesheet" href="{% static "assets/fontawesome-4.3.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/bk.css" %}">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrap">
        <!-- 头部 -->
        <header>
            <div class="navbar navbar-black">
                <div class="navbar-container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        ops
                    </a>
                    </div>

                    <div class="navbar-header pull-right">
                        <ul class="nav">
                            <li class="user-info">
                                <a href="#">
                                <img class="img-rounded" src="{% static "img/avatar.png" %}">
                                <span>{{ request.user }}</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- 头部 -->

        <!-- 侧边栏 -->
        <div class="king-vertical-nav4">
            <div class="sidebar-inner">
                <ul class="navi">
                    <li class="current active">
                        <a href="/index/">
                        <i class="fa fa-gear"></i>首页
                    </a>
                    </li>
                    <li class="has_submenu">
                        <a href="javascript:;">
                        <i class="fa fa-wrench"></i>资产管理
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/hostmt/">主机管理<i class="fa fa-chevron-right pull-right"></i></a>
                            </li>
                            <li>
                                <a href="/auditlog/">日志审计<i class="fa fa-chevron-right pull-right"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="king-main-container">
            <div class="container-fluid">

            </div>
        </div>

    </div>

    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="{% static "assets/jquery-1.10.2/jquery-1.10.2.min.js" %}"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="{% static "assets/bootstrap-3.3.4/js/bootstrap.min.js" %}"></script>

    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>

    <script src="{% static "js/index.js" %}"></script>


</body>

</html>